.wrapper {
    margin: 30px 20px 50px 20px;
}

.container {
    max-width: 960px;
}

label {
    margin-bottom: 10px!important;
}

.extraspace {
    margin-bottom: 30px!important;
}

img {
    width: 100%;
}